{{ if .Site.Params.utteranc.enable }}

<div class="comments">
    <script>
        // load utteranc comment
        var getTheme = localStorage.getItem("pref-theme");
        getTheme = getTheme == null ? '{{$.Site.Params.defaultTheme}}' : getTheme;

        let theme = getTheme === 'dark' ? 'github-dark' : 'github-light';
        let s = document.createElement('script');
        s.src = 'https://utteranc.es/client.js';
        s.setAttribute('repo', '{{ .Site.Params.utteranc.repo }}');
        s.setAttribute('issue-term', '{{ .Site.Params.utteranc.issueTerm }}');
        s.setAttribute('theme', theme);
        s.setAttribute('crossorigin', 'anonymous');
        s.setAttribute('async', '');
        document.querySelector('div.comments').innerHTML = '';
        document.querySelector('div.comments').appendChild(s);

        // auto swith utteranc theme by body class change
        const mutationObserver = new MutationObserver((mutationsList, observer) => {
            mutationsList.forEach(mutation => {
                if (mutation.attributeName === "class") {
                    if (document.querySelector('.utterances-frame')) {
                        const theme = mutation.target.classList.contains("dark") ? 'github-dark' : 'github-light'
                        const message = {
                            type: 'set-theme',
                            theme: theme
                        };
                        const iframe = document.querySelector('.utterances-frame');
                        iframe.contentWindow.postMessage(message, 'https://utteranc.es');
                    }
                }
            })
        });
        mutationObserver.observe(document.body, { attributes: true });
    </script>
</div>
{{ end }}